@charset "utf-8";
/*通用*/
html,
body {
  width: 100%;
  height: 100%;
  /*font-size: 14px !important;*/
}
body {
  font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: auto !important;
  background-color: #f7f7f7;
  -webkit-overflow-scrolling: touch;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}
p {
  font-size: 1em;
  color: #333;
}
input {
  border: none;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
.clear {
  clear: both;
}
.lt {
  float: left;
}
.gt {
  float: right;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #ff8212;
  color: #fff;
  z-index: 99;
  text-align: center;
}
header .container-fluid,
header .container-fluid .row {
  height: 100%;
}
header + section {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  position: relative;
}
.clearfix:after {
  /*清浮动*/
  content: '';
  display: block;
  clear: both;
}
